body {
    font-family: 'ArcadeClassic', cursive;
    image-rendering: pixelated;
    min-height: 100vh;
    background-image: url("ChatGPT Image 10 mar 2026, 16_39_15.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card {
    background-color: rgba(255, 255, 255, 0.448);
}

.parcela-vacia {
    background-color: #8B4513;
    color: white;
}

.parcela-creciendo {
    background-color: #f0ad4e;
    color: black;
}

.parcela-madura {
    background-color: #5cb85c;
    color: white;
}

img {
    height: 150px;
    width: 50px;
    object-fit: contain;
}